*{
  text-align: center;
}
.bProfile{
  float: right;
  width: 4rem;
}
.textt{
  color: #AEB1BB;
}
.infor{
  background-color: #44DCBE;
  margin-top: 3rem;
}
.bOption{
  width: 5rem;
}
