h1{
  text-align: center;
  margin-top: 1rem    ;
}

h3{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.libro{
  background-color: #88373E;
  height: 25rem;
  width: 9rem;
  margin-top: 10rem;
  margin-left: 10rem;
  margin-bottom: 8rem;
  float: left;
}

.tituloLibro{
  background-color: #26504F;
  margin-top: 16px;
  height: 8rem;

}

.lomo{
  width: 100%;
  height: 100%;
  background-color: #26504F;
}
