
<div class="center" >
  <br><br>
    <h1>
      Libreria Cosmos
    </h1>
  </div>


  <div class="center">

    <button type="button" class="btn btn-warning" style="width: 500px;" (click)="about()">About</button>

    <button type="button" class="btn btn-info" style="width: 500px;" (click)="login()">Login</button>


  </div>


  <div *ngIf="state=='none'" class="center" >

    <img src="assets/img/Space.png" alt="">

  </div>



  <div *ngIf="state == 'login'"  style="margin-top: 100px; " class="container center counter" >
    <form>
        <div class="form-floating mb-3 ">
          <input type="text" class="form-control" id="usuario" placeholder="Usuario o CUI" name="usuario" #usuario="ngModel" [(ngModel)]="user.usuario">
          <label for="floatingInput">Usuario o CUI</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password">
          <label for="floatingPassword">Contraseña</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg" (click)="iniciar()">Inicio</button>

    </form>
  </div>


  <div *ngIf="state == 'about'" class="col-lg-4  center" style="margin-top: 100px;" >
    <div class="car">
      <div class=" carTop">
        <img
          class=" imgProfile"
          src="assets/img/Byron.jfif"
        />

        <h3 class="title">Developer</h3>
      </div><br><br>
      <div class="carsBody">


      <p class="h4">Byron Haldaír García Guzmán</p>

      <p class="h4">2016-405</p>

      <p class="h4">Practica Supervisada</p>

      </div>
    </div>
  </div>


